extends layout

block content
  h1= title
  p #{title} DevOps Assessment
  p Tendered and cared for by Miguel Pereira (<a href="http://onemorepereira.io" target=_blank>onemorepereira.io</a>)
  p Commit #1
  p Commit #2
  p Commit #3